@{
    ViewData["Title"] = "About";
}
<h2>About Us</h2>
<h3>ThAmCo - Event Managment Solutions</h3>

<p>ThAmCo is a premium Event Management service that offers event and revenue booking with customer management built-in; with future support for catering and food.</p>
