@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-lg-12">
        <h1>ThAmCo</h1>
        <h4>Professional Event Management</h4>

        <p>Thank you for choosing <b>ThAmCo</b> as your Event Management solution.</p>
        <p>Please choose from the options listed at the top of the page to manoeuvre the page.</p>
    </div>

</div>
