@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

<h3>Data Usage</h3>
<p>
    How your data is stored is depending on your role within our services.
    <ul>
        <li>
            <b>Customers:</b>
            Customers have their names and e-mails stored within our database until they are needed to be removed.
            When customer details are to be removed; personal/identifiable information is anonymised.
        </li>
        <li>
            <b>Staff:</b>
            Staff members have their data stored similarly to customers, except their data is deleted upon removal and not
            anonymised.
            The staff member's ID is used instead of their information to link to other parts of the site.
        </li>
    </ul>
</p>
