@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
<p>Please press the back button and attempt to re-do your request.</p>
<p>Alternatively, you can go to the Home page by clicking this button: <a class="btn btn-default" asp-action="Index" asp-controller="Home">Go Home</a></p>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}